@model IEnumerable<JIPP5_LAB.Bazy.StatisticDTO>
@{ 
    ViewBag.Title = "Statystki";
}
<h1>Statystyki</h1>

    <table>
        <tr>
            <th>Data konwersji</th>
            <th>Dane wejsciowe</th>
            <th>Jednostka wejsciowa</th>
            <th>dane wyjsciowe</th>
            <th>Jednostki wyjsciowe</th>
        </tr>

        @foreach (JIPP5_LAB.Bazy.StatisticDTO statistic in Model)
        {
            <tr>
                <td>@statistic.DateTime</td>
                <td>@statistic.RawValue</td>
                <td>@statistic.UnitFrom</td>
                <td>@statistic.ConvertedValue</td>
                <td>@statistic.UnitTo</td>
            </tr>
        }
    </table>
