@model IEnumerable<Konwerter.Kalkulator>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rodzaj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JednostkaWyjsciowa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wartosc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JednostkaDocelowa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przekonwertowane)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rodzaj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JednostkaWyjsciowa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wartosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JednostkaDocelowa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przekonwertowane)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
