@model IEnumerable<Konwerter.Services.IConverter>
@{
    ViewBag.Title = "Home Page";
}

<h1>Konwerter jednostek</h1>

@foreach (Konwerter.Services.IConverter converter in Model)
{
    using (Ajax.BeginForm("Liczenie",
        new { converterType = converter.GetType().AssemblyQualifiedName },
        new AjaxOptions() { UpdateTargetId = converter.Name + "wynik" }))
    {
        <div> @converter.Name </div>
        @Html.DropDownList("z", new SelectList(converter.Units))
        @Html.TextBox("wartDoKonwersji")
        @Html.DropDownList("na", new SelectList(converter.Units))
        <button type="submit"> Konwertuj </button>
        <label id="@(converter.Name + "wynik")"></label>

    }
}
