@model IEnumerable<KonwerterApp.Services.IConverter>
@{
    ViewBag.Title = "Home Page";
}

<h1>Konwerter jednostek</h1>

@foreach (KonwerterApp.Services.IConverter converter in Model)
{
    using (Ajax.BeginForm("Convert",
        new { converterType = converter.GetType().AssemblyQualifiedName },
        new AjaxOptions() { UpdateTargetId = converter.Nazwa + "result" }))
    {
        <div> @converter.Nazwa </div>
        @Html.DropDownList("unitFrom", new SelectList(converter.Jednostki))
        @Html.TextBox("valueToConvert")
        @Html.DropDownList("unitTo", new SelectList(converter.Jednostki))

        @Html.TextBox("RequestID_Text", "", new { placeholder = "RequestID" })<button type="submit"> Konwertuj </button>
        <label id="@(converter.Nazwa + "result")"></label>
    }
}