@model IEnumerable<UnitCoverterPart2.Services.IConverter>
@{
    ViewBag.Title = "Home Page";
}

<h1>Konwerter jednostek</h1>

@foreach (UnitCoverterPart2.Services.IConverter converter in Model)
{
    using (Ajax.BeginForm("Convert",
        new { converterType = converter.GetType().AssemblyQualifiedName },
        new AjaxOptions() { UpdateTargetId = converter.Name + "result" } ))
    {
        <div> @converter.Name </div>
        @Html.DropDownList("unitFrom", new SelectList(converter.Units))
        @Html.TextBox("valueToConvert")
        @Html.DropDownList("unitTo", new SelectList(converter.Units))
        <button type = "submit"> Konwertuj </button>
        <label id="@(converter.Name + "result")"></label>
    }
}