@model List<ConverterSDK.IConvertible>

@{
    ViewBag.Title = "Home Page";
}
<h1>Konwerter jednostek</h1>

@foreach (ConverterSDK.IConvertible converter in Model)
{
    using (Ajax.BeginForm("Convert",
        new { converterType=converter.GetType().AssemblyQualifiedName},
        new AjaxOptions() { UpdateTargetId=converter.ConverterName+"res"}))
    {
        <div>@converter.ConverterName</div>
        @Html.DropDownList("unitFrom", new SelectList(converter.Units))
        @Html.TextBox("valueFrom")
        @Html.DropDownList("unitTo", new SelectList(converter.Units))
        <button type="submit">Konwertuj</button>
        <label id="@(converter.ConverterName+"res")"></label>
    }

}
