@model IEnumerable<UnitConverter.Converters.IConverter>
@{
    ViewBag.Title = "Home Page";
}


<ul><h1>Konwerter jednostek</h1></ul>

@foreach (UnitConverter.Converters.IConverter converter in Model)
{
    
    using (Ajax.BeginForm("Convert",
        new AjaxOptions() { UpdateTargetId = converter.Name + "result" }))
    {
<ul>
    <div><b> @converter.Name </b></div>
    @Html.DropDownList("unitFrom", new SelectList(converter.Units))
    @Html.TextBox("valueToConvert")
    @Html.DropDownList("unitTo", new SelectList(converter.Units))
    <button type="submit"> Konwertuj </button>
    <label id="@(converter.Name + "result")"></label>
</ul>
    }
}